<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login / Registration Form</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/sweetalert2/v11.7.0/sweetalert2.min.css">
</head>
<body>
<div class="container" id="container">

    <div class="form-container register-container">
        <form action="post">
            <h1>Register Account</h1>
            <select class="input-select" name="roleUp" id="roleUp">
                <option value="1">ADMIN</option>
                <option value="2">USER</option>
            </select>
            <input type="text" placeholder="Name" id="nameUp" name="nameUp">
            <input type="email" placeholder="Email" id="emailUp" name="emailUp">
            <input type="text" placeholder="User name" id="usernameUp" name="usernameUp">
            <input type="password" placeholder="Password" id="passwordUp" name="passwordUp">
            <button class="submit-btn" id="btnSignUp">Register</button>
            <span>or use your account</span>
            <div class="social-container">
                <a href="#" class="social"><i class="lni lni-facebook-fill"></i></a>
                <a href="#" class="social"><i class="lni lni-google"></i></a>
                <a href="#" class="social"><i class="lni lni-linkedin-original"></i></a>
            </div>
        </form>
    </div>

    <div class="form-container login-container">
        <form action="post">
            <h1>Login Account</h1>
            <input type="text" placeholder="User name" id="usernameIn">
            <input type="password" placeholder="Password" id="passwordIn">
            <div class="content">
                <div class="checkbox">
                    <input type="checkbox" name="checkbox" id="checkbox">
                    <label>Remember me</label>
                </div>
                <div class="pass-link">
                    <a href="#">Forgot password?</a>
                </div>
            </div>
            <button class="submit-btn" id="btnLogin">Login</button>
            <span>or use your account</span>
            <div class="social-container">
                <a href="#" class="social"><i class="lni lni-facebook-fill"></i></a>
                <a href="#" class="social"><i class="lni lni-google"></i></a>
                <a href="#" class="social"><i class="lni lni-linkedin-original"></i></a>
            </div>
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1 class="title">Hello <br> friends</h1>
                <p>if You don't have an account, please register first ! </p>
                <button class="ghost" id="login">Login
                    <i class="lni lni-arrow-left login"></i>
                </button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1 class="title">Welcome <br> to my Shop</h1>
                <p>Don't have account ? Let's visit to register page.</p>
                <button class="ghost" id="register">Register
                    <i class="lni lni-arrow-right register"></i>
                </button>
            </div>
        </div>
    </div>

</div>

<script src="/assets/js/login.js"></script>
<script src="/assets/jquery/v3.6.3/jquery-3.6.3.min.js"></script>
<script src="/assets/js/appBase.js"></script>
<script src="/assets/sweetalert2/v11.7.0/sweetalert2.all.min.js"></script>
<script>
    const page = {
        urls: {
            insertRegister: AppBase.API_REGISTER,
            insertLogin: AppBase.API_LOGIN
        },
        elements: {},
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            loadData: {},
            commands: {},
        }
    }
    page.elements.btnSignUp = $('#btnSignUp');
    page.elements.btnLogIn = $('#btnLogin');
    page.elements.usernameUp = $('#usernameUp');
    page.elements.usernameIn = $('#usernameIn');
    page.elements.passwordIn = $('#passwordIn');
    page.elements.passwordUp = $('#passwordUp');
    page.elements.role = $('#roleUp');

    page.elements.btnSignUp.on('click', () => {
        let user = {
            username: page.elements.usernameUp.val(),
            password: page.elements.passwordUp.val(),
            role: {
                id: page.elements.role.val()
            }
        }
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "POST",
            url: AppBase.API_REGISTER,
            data: JSON.stringify(user)
        })
            .done(()=>{
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Register successful',
                    showConfirmButton: false,
                    timer: 50000
                })
                page.elements.btnLogIn.click();
                page.elements.usernameIn.val(user.username);
                page.elements.passwordIn.val(user.password);
            })
            .fail((error)=>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Register Fail !',
                })
            })
    })

    page.elements.btnLogIn.on('click',()=>{
        let user = {
            username : page.elements.usernameIn.val(),
            password : page.elements.passwordIn.val()
        }
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "POST",
            url: AppBase.API_LOGIN,
            data: JSON.stringify(user)
        })
            .done((data) =>{
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Login successful',
                    showConfirmButton: false,
                    timer: 50000
                })
            })
            .fail((error) => {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Login Fail!',
                })
            })
    })
</script>


</body>
</html>