<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head>
    <title> Welcome to HomePage</title>
    <link rel="stylesheet" href="/assets/bootstrap/v5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fontawesome/v5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/assets/sweetalert2/v11.7.0/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/izToast/css/iziToast.css">
    <link rel="stylesheet" href="/assets/css/preview-image.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <th:block th:replace="layout/head"/>
</head>
<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- Topbar Start -->
    <th:block th:replace="/layout/nav-bar"/>
    <!-- end Topbar -->

    <!-- ========== Left Sidebar Start ========== -->
    <th:block th:replace="/layout/left-side-bar"/>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="container-fluid mt-1">
        <div class="content-page">
            <table id="tbCustomer" class="table table-hover mt-2">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Avatar</th>
                    <th class="text-center">Full Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Phone</th>
                    <th class="text-center">Province</th>
                    <th class="text-center">District</th>
                    <th class="text-center">Ward</th>
                    <th class="text-center">Address</th>
                    <th colspan="5" style="text-align: center;">Action</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <!-- MODAL CREATE -->
        <th:block th:replace="customer/modalCreate :: modal_create"></th:block>

        <!-- END MODAL CREATE -->

        <!-- MODAL UPDATE -->
        <th:block th:replace="customer/modalUpdate :: modal_update"></th:block>
        <!--  END MODAL UPDATE -->

        <!--MODAL DE-ACTIVE-->
        <th:block th:replace="customer/modalDeActive :: modal_deActive"></th:block>
        <!--END MODAL DE-ACTIVE-->
    </div>
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
</div>
<!-- END wrapper -->


<!-- Right Sidebar -->
<th:block th:replace="/layout/right-bar"/>
<!-- /Right-bar -->
<th:block th:replace="/layout/footer"/>
<th:block th:replace="/layout/script"/>

<script src="/assets/jquery/v3.6.3/jquery-3.6.3.min.js"></script>
<script src="/assets/jquery-validate/v1.19.5/jquery.validate.min.js"></script>
<script src="/assets/bootstrap/v5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="/assets/sweetalert2/v11.7.0/sweetalert2.min.js"></script>
<script src="/assets/izToast/js/iziToast.js"></script>
<script src="/assets/js/appBase.js"></script>

<script>
    const page = {
        urls: {
            getAllCustomer: AppBase.API_CUSTOMER,
            getAllCustomerDeActive: AppBase.API_DEACTIVE,
            findCustomerById: AppBase.API_CUSTOMER,
            doCreate: AppBase.API_CUSTOMER,
            doUpdate: AppBase.API_CUSTOMER,
            doDeActive: AppBase.API_CUSTOMER + '/de-active',
            doActive : AppBase.API_CUSTOMER + '/active',
            getAllProvinces: AppBase.API_PROVINCE,
            getAllDistricts: AppBase.API_PROVINCE + '/district',
            getAllWards: AppBase.API_PROVINCE + '/ward',
            doCreateWithAvatar: AppBase.API_CUSTOMER + '/create-with-avatar',
            doUpdateWithAvatar: AppBase.API_CUSTOMER + '/update-w-avatar'
        },
        elements: {},
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            loadData: {},
            commands: {}
        }
    }

    let currentCustomerId;
    let locationRegion = new LocationRegion();
    let customerAvatar = new CustomerAvatar();
    let customer = new Customer();

    page.elements.loading = $('#loading');

    page.elements.btnShowCreateModal = $('#btnShowCreateModal');

    page.elements.btnShowDeActiveModal = $('#btnShowDeActiveModal');

    page.dialogs.elements.modalDeActive = $('#modalDeActive');
    page.dialogs.elements.frmDeActive = $('#frmDeActive');

    page.dialogs.elements.modalCreateCustomer = $('#modalCreateCustomer');
    page.dialogs.elements.frmCreate = $('#frmCreate');
    page.dialogs.elements.fullNameCre = $('#fullNameCre');
    page.dialogs.elements.emailCre = $('#emailCre');
    page.dialogs.elements.phoneCre = $('#phoneCre');
    page.dialogs.elements.provinceCre = $('#provinceCre');
    page.dialogs.elements.districtCre = $('#districtCre');
    page.dialogs.elements.wardCre = $('#wardCre');
    page.dialogs.elements.addressCre = $('#addressCre');
    page.dialogs.elements.btnCreateCustomer = $('#btnCreateCustomer');

    page.dialogs.elements.modalUpdateCustomer = $('#modalUpdateCustomer');
    page.dialogs.elements.fullNameUp = $('#fullNameUp');
    page.dialogs.elements.emailUp = $('#emailUp');
    page.dialogs.elements.phoneUp = $('#phoneUp');
    page.dialogs.elements.provinceUp = $('#provinceUp');
    page.dialogs.elements.districtUp = $('#districtUp');
    page.dialogs.elements.wardUp = $('#wardUp');
    page.dialogs.elements.addressUp = $('#addressUp');
    page.dialogs.elements.btnUpdateCustomer = $('#btnUpdateCustomer');


    page.dialogs.elements.wrapper = $("section .wrapper");
    page.dialogs.elements.productName = $("#productName");
    page.dialogs.elements.description = $("#description");
    page.dialogs.elements.imageFile = $("#imageFile");
    page.dialogs.elements.wrapperContent = $("section .wrapper .content");
    page.dialogs.elements.imagePreview = $("section .image-preview");
    page.dialogs.elements.imagePreviewCanvas = $("section .image-preview canvas");
    page.dialogs.elements.canvas = $("#canvas");
    page.dialogs.elements.context = page.dialogs.elements.canvas[0].getContext('2d');
    page.dialogs.elements.imagePreviewCanvas.css("display", "none");
    page.dialogs.elements.divImagePreview = $("#modalCreateCustomer div.file-name");


    page.dialogs.elements.imageFileUp = $("#imageFileUp");
    page.dialogs.elements.imagePreviewCanvasUp = $("section .image-preview #canvasUp");
    page.dialogs.elements.canvasUp = $("#canvasUp");
    page.dialogs.elements.contextUp = page.dialogs.elements.canvasUp[0].getContext('2d');
    page.dialogs.elements.imagePreviewCanvasUp.css("display", "none");
    page.dialogs.elements.divImagePreviewUp = $("#modalUpdateCustomer div.file-name");

    page.dialogs.elements.btnClearImagePreview = $(".clear-image-preview i");


    page.loadData.findCustomerById = (id) => {
        return $.ajax({
            type: 'GET',
            url: page.urls.findCustomerById + '/' + id
        })
            .done((data) => {

            })
            .fail((error) => {
                console.log(error);
            })
    }

    page.loadData.getAllCustomers = () => {
        page.commands.showLoading();

        $.ajax({
            type: 'GET',
            url: page.urls.getAllCustomer
        })
            .done((data) => {
                $.each(data, (i, item) => {
                    customer = item;
                    locationRegion = customer.locationRegion;
                    customerAvatar = customer.customerAvatar;

                    let str = renderCustomer(customer, customerAvatar, locationRegion);
                    $('#tbCustomer tbody').prepend(str);
                })
                addEventUpdate();
                addEventDeActive();
            })
            .fail((error) => {
                console.log(error)
            })
            .always(() => {
                page.commands.closeLoading();
            })
    }

    page.loadData.getAllCustomerDeActive = () => {
        page.commands.showLoading();

        $.ajax({
            type: 'GET',
            url: page.urls.getAllCustomerDeActive
        })
            .done((data) => {
                $.each(data, (i, item) => {
                    customer = item;
                    locationRegion = customer.locationRegion;
                    customerAvatar = customer.customerAvatar;

                    let str = renderDeActiveCustomer(customer, customerAvatar, locationRegion);
                    $('#tbDeActive tbody').prepend(str);
                })
                addEventActive();
            })

            .fail((error) => {
                console.log(error)
            })
            .always(() => {
                page.commands.closeLoading();
            })
    }

    page.loadData.getAllProvinces = () => {
        return $.ajax({
            type: 'GET',
            url: page.urls.getAllProvinces
        })
            .done((data) => {


                let provinces = data.results;

                $.each(provinces, (i, item) => {
                    let str = `<option value="${item.province_id}">${item.province_name}</option>`;
                    page.dialogs.elements.provinceCre.append(str);
                    page.dialogs.elements.provinceUp.append(str);
                })
                let str = `<option value="0" selected>-- Please selected --</option>`;
                page.dialogs.elements.provinceCre.append(str);
                page.dialogs.elements.provinceUp.append(str);
            })
            .fail((jqXHR) => {
                console.log(jqXHR)
            })
    }

    page.loadData.getAllDistrictsByProvinceId = (provinceId, elem) => {

        return $.ajax({
            type: 'GET',
            url: page.urls.getAllDistricts + '/' + provinceId
        })
            .done((data) => {
                elem.empty();
                elem.append(`<option>-- Please selected --</option>`)
                let districts = data.results;

                $.each(districts, (i, item) => {
                    let str = `<option value="${item.district_id}">${item.district_name}</option>`;

                    elem.append(str);
                })
            })
            .fail((jqXHR) => {
                console.log(jqXHR)
            })
    }

    page.loadData.getAllWardsByDistrictsId = (districtId, elem) => {

        return $.ajax({
            type: 'GET',
            url: page.urls.getAllWards + '/' + districtId
        })
            .done((data) => {
                elem.empty();
                elem.append(`<option>-- Please selected --</option>`)
                let wards = data.results;

                $.each(wards, (i, item) => {
                    let str = `<option value="${item.ward_id}">${item.ward_name}</option>`;

                    elem.append(str);
                })
            })
            .fail((jqXHR) => {
                console.log(jqXHR)
            })
    }

    page.dialogs.elements.modalCreateCustomer.on('hidden.bs.modal', () => {
        page.dialogs.elements.frmCreate[0].reset();
        page.dialogs.commands.clearImagePreview();
    })

    page.elements.btnShowCreateModal.on('click', () => {
        page.dialogs.elements.modalCreateCustomer.modal('show');
        page.dialogs.commands.clearImagePreview();
    })

    page.elements.btnShowDeActiveModal.on('click', () => {
        page.dialogs.elements.modalDeActive.modal('show');
    })


    page.dialogs.commands.doCreate = () => {
        page.commands.showLoading();
        console.log('loading')

        let fullName = page.dialogs.elements.fullNameCre.val();
        let email = page.dialogs.elements.emailCre.val();
        let phone = page.dialogs.elements.phoneCre.val();
        let provinceId = page.dialogs.elements.provinceCre.val();
        let provinceName = page.dialogs.elements.provinceCre.find("option:selected").text();
        let districtId = page.dialogs.elements.districtCre.val();
        let districtName = page.dialogs.elements.districtCre.find("option:selected").text();
        let wardId = page.dialogs.elements.wardCre.val();
        let wardName = page.dialogs.elements.wardCre.find("option:selected").text();
        let address = page.dialogs.elements.addressCre.val();

        let avatarFile = page.dialogs.elements.imageFile[0].files[0];

        let formData = new FormData();
        formData.append("fullName", fullName);
        formData.append("email", email);
        formData.append("phone", phone);
        formData.append("provinceId", provinceId);
        formData.append("provinceName", provinceName);
        formData.append("districtId", districtId);
        formData.append("districtName", districtName);
        formData.append("wardId", wardId);
        formData.append("wardName", wardName);
        formData.append("address", address);
        formData.append("file", avatarFile);

        $.ajax({
            type: 'POST',
            contentType: false,
            cache: false,
            processData: false,
            url: page.urls.doCreateWithAvatar,
            data: formData
        })
            .done((data) => {
                console.log(data)
                customer = data;
                locationRegion = customer.locationRegion;
                customerAvatar = customer.customerAvatar;
                let str = renderCustomer(customer, customerAvatar, locationRegion);

                $('#tbCustomer tbody').prepend(str);

                iziToast.success({
                    title: 'OK',
                    position: 'topRight',
                    message: 'Create Customer Successfully!',
                })

                page.dialogs.elements.modalCreateCustomer.modal('hide');
                $('.update').off('click');
                $('.deactive').off('click');

                addEventUpdate();
                addEventDeActive();



            })
            .fail((error) => {
                iziToast.error({
                    title: 'Error',
                    position: 'bottomRight',
                    message: 'Create customer Fail !',
                });
            })
            .always(() => {
                page.commands.closeLoading();
            })
    }

    page.dialogs.commands.doUpdate = () => {

        let fullName = page.dialogs.elements.fullNameUp.val();
        let email = page.dialogs.elements.emailUp.val();
        let phone = page.dialogs.elements.phoneUp.val();
        let provinceId = page.dialogs.elements.provinceUp.val();
        let provinceName = page.dialogs.elements.provinceUp.find("option:selected").text();
        let districtId = page.dialogs.elements.districtUp.val();
        let districtName = page.dialogs.elements.districtUp.find("option:selected").text();
        let wardId = page.dialogs.elements.wardUp.val();
        let wardName = page.dialogs.elements.wardUp.find("option:selected").text();
        let address = page.dialogs.elements.addressUp.val();

        let avatarFile = page.dialogs.elements.imageFileUp[0].files[0];


        let formData = new FormData();
        formData.append("fullName", fullName);
        formData.append("email", email);
        formData.append("phone", phone);
        formData.append("provinceId", provinceId);
        formData.append("provinceName", provinceName);
        formData.append("districtId", districtId);
        formData.append("districtName", districtName);
        formData.append("wardId", wardId);
        formData.append("wardName", wardName);
        formData.append("address", address);
        formData.append("file", avatarFile);

        $.ajax({
            type: 'PATCH',
            contentType: false,
            cache: false,
            processData: false,
            url: page.urls.doUpdateWithAvatar + '/' + currentCustomerId,
            data: formData
        })
            .done((data) => {
                console.log(data)

                customer = data;
                locationRegion = customer.locationRegion;
                customerAvatar = customer.customerAvatar;

                let str = renderCustomer(customer, customerAvatar, locationRegion)
                $('#tr_' + currentCustomerId).replaceWith(str);

                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Update Successfully',
                    showConfirmButton: false,
                    timer: 2000
                })
                page.dialogs.elements.modalUpdateCustomer.modal('hide');

                $('.update').off('click');
                $('.deactive').off('click');
                addEventUpdate();
                addEventDeActive();

            })
            .fail((error) => {
                iziToast.error({
                    title: 'Error',
                    message: 'Update has been fail !',
                });

            })
    }

    function addEventUpdate() {
        $('.update').on('click', function () {

            let customerId = $(this).data('id');

            page.loadData.findCustomerById(customerId).then((data) => {
                customer = data;
                locationRegion = customer.locationRegion;
                customerAvatar = customer.customerAvatar;
                currentCustomerId = customerId;

                page.dialogs.elements.fullNameUp.val(customer.fullName);
                page.dialogs.elements.emailUp.val(customer.email);
                page.dialogs.elements.phoneUp.val(customer.phone);
                page.dialogs.elements.provinceUp.val(locationRegion.provinceId);
                page.loadData.getAllDistrictsByProvinceId(locationRegion.provinceId, page.dialogs.elements.districtUp).then(() => {
                    page.dialogs.elements.districtUp.val(locationRegion.districtId);

                    page.loadData.getAllWardsByDistrictsId(locationRegion.districtId, page.dialogs.elements.wardUp).then(() => {
                        page.dialogs.elements.wardUp.val(locationRegion.wardId);
                    });
                });
                page.dialogs.elements.addressUp.val(locationRegion.address);

                page.dialogs.commands.loadImageToCanvas(null, "URL", customerAvatar.fileUrl);

                page.dialogs.elements.modalUpdateCustomer.modal('show');

            })
                .catch((error) => {
                    console.log(error)
                })
        });
    }

    function addEventDeActive() {
        $('.deactive').on('click', function () {

            let id = $(this).data('id');
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Block it!'
            })
                .then((result) => {
                    if (result.isConfirmed) {

                        $.ajax({
                            headers: {
                                "accept": "application/json",
                                "content-type": "application/json"
                            },
                            type: "DELETE",
                            url: page.urls.doDeActive + '/' + id
                        })
                            .done((data) => {
                                $("#tr_" + id).remove();

                                customer = data;
                                customerAvatar = customer.customerAvatar;
                                locationRegion = customer.locationRegion;
                                let str = renderDeActiveCustomer(customer, customerAvatar, locationRegion);
                                $('#tbDeActive tbody').prepend(str);

                                $('.active').off('click');
                                addEventActive();

                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: 'Block customer successful',
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                            })
                            .fail((jqXHR) => {
                                let statusCode = jqXHR.status;

                                if (statusCode === 403) {
                                    Swal.fire({
                                        position: 'center',
                                        icon: 'error',
                                        title: 'You dont have permission',
                                        showConfirmButton: true
                                    })
                                }
                            })
                    }
                })
        })
    }

    function addEventActive() {
        $('.active').on('click', function (){
            let id = $(this).data('id');
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Active it!'
            })
                .then((result) => {
                    if (result.isConfirmed) {

                        $.ajax({
                            headers: {
                                "accept": "application/json",
                                "content-type": "application/json"
                            },
                            type: "DELETE",
                            url: page.urls.doActive + '/' + id
                        })
                            .done((data) => {
                                $("#tr_" + id).remove();

                                customer = data;
                                customerAvatar = customer.customerAvatar;
                                locationRegion = customer.locationRegion;
                                let str = renderCustomer(customer, customerAvatar, locationRegion);
                                $('#tbCustomer tbody').prepend(str);

                                $('.deactive').off('click');
                                addEventDeActive();

                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: 'Active customer successfully',
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                            })
                            .fail((jqXHR) => {
                                let statusCode = jqXHR.status;

                                if (statusCode === 403) {
                                    Swal.fire({
                                        position: 'center',
                                        icon: 'error',
                                        title: 'You dont have permission',
                                        showConfirmButton: true
                                    })
                                }
                            })
                    }
                })
        })
    }

    function renderCustomer(customer, avatar, locationRegion) {
        let image_thumbnail = `${AppBase.API_CLOUDINARY}/${AppBase.SCALE_IMAGE_W_80_H_80_Q_100}/${avatar.fileFolder}/${avatar.fileName}`;
        return `
                    <tr id="tr_${customer.id}">
                        <td>${customer.id}</td>
                        <td>
                            <img src="${image_thumbnail}" alt="">
                        </td>
                        <td>${customer.fullName}</td>
                        <td>${customer.email}</td>
                        <td>${customer.phone}</td>
                        <td>${locationRegion.provinceName}</td>
                        <td>${locationRegion.districtName}</td>
                        <td>${locationRegion.wardName}</td>
                        <td>${locationRegion.address}</td>

                        <td>
                            <button class="btn btn-outline-secondary update" data-id="${customer.id}">
                            <i class="fa fa-pencil-ruler"></i>
                                Edit
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger deactive" data-id="${customer.id}">
                           <i class="fa fa-ban"></i>
                                De-Active
                            </button>
                        </td>
                    </tr>
                `;
    }

    function renderDeActiveCustomer(customer, avatar, locationRegion) {
        let image_thumbnail = `${AppBase.API_CLOUDINARY}/${AppBase.SCALE_IMAGE_W_80_H_80_Q_100}/${avatar.fileFolder}/${avatar.fileName}`;
        return `
                    <tr id="tr_${customer.id}">
                        <td>${customer.id}</td>
                        <td>
                            <img src="${image_thumbnail}" alt="">
                        </td>
                        <td>${customer.fullName}</td>
                        <td>${customer.email}</td>
                        <td>${customer.phone}</td>
                        <td>${locationRegion.provinceName}</td>
                        <td>${locationRegion.districtName}</td>
                        <td>${locationRegion.wardName}</td>
                        <td>${locationRegion.address}</td>

                        <td>
                            <button class="btn btn-outline-success active" data-id="${customer.id}">
                           <i class="fa fa-check"></i>
                                Active
                            </button>
                        </td>
                    </tr>
                `;
    }

    page.dialogs.commands.loadImageToCanvas = (imageFile, fileType, imageUrl) => {
        page.dialogs.elements.imagePreviewCanvas.css("display", "");

        page.dialogs.elements.wrapperContent.css("opacity", 0);

        page.dialogs.elements.imagePreviewCanvasUp.css("display", "");

        page.dialogs.elements.wrapperContent.css("opacity", 0);

        let imageObj = new Image();

        imageObj.onload = function () {
            page.dialogs.elements.context.canvas.width = imageObj.width;
            page.dialogs.elements.context.canvas.height = imageObj.height;
            page.dialogs.elements.context.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height);

            page.dialogs.elements.contextUp.canvas.width = 445;
            page.dialogs.elements.contextUp.canvas.height = 345;
            page.dialogs.elements.contextUp.drawImage(imageObj, 0, 0, 445, 345);
        };

        if (fileType === "BINARY") {
            imageObj.src = URL.createObjectURL(imageFile);
        } else {
            imageObj.src = imageUrl;
        }
    }

    page.dialogs.commands.changeImagePreview = (elem) => {
        let imageFile = elem[0].files[0];

        if (imageFile) {
            let reader = new FileReader();

            reader.readAsDataURL(imageFile);

            reader.onload = function (e) {
                if (e.target.readyState === FileReader.DONE) {
                    page.dialogs.commands.loadImageToCanvas(imageFile, "BINARY", null);
                }
            }
        } else {
            page.dialogs.commands.clearImagePreview();
        }
    }

    page.dialogs.commands.clearImagePreview = () => {
        page.dialogs.elements.imageFile.val("");
        page.dialogs.elements.imagePreviewCanvas.css("display", "none");
        page.dialogs.elements.wrapperContent.css("opacity", 1);

        page.dialogs.elements.imageFileUp.val("");
        page.dialogs.elements.imagePreviewCanvasUp.css("display", "none");
        page.dialogs.elements.wrapperContent.css("opacity", 1);
    }

    page.commands.handleChangeProvince = (elemProvince, elemDistrict, elemWard) => {
        elemProvince.on('change', function () {
            let provinceId = $(this).val();
            page.loadData.getAllDistrictsByProvinceId(provinceId, elemDistrict).then(() => {
                let districtId = elemDistrict.val();

                page.loadData.getAllWardsByDistrictsId(districtId, elemWard);
            });
        })
    }

    page.commands.handleChangeDistrict = (elemDistrict, elemWard) => {
        elemDistrict.on('change', function () {
            let districtId = $(this).val();

            page.loadData.getAllWardsByDistrictsId(districtId, elemWard);
        })
    }

    page.commands.showLoading = () => {
        page.elements.loading.removeClass('hide');
    }

    page.commands.closeLoading = () => {
        page.elements.loading.addClass('hide');
    }

    page.commands.loadData = () => {
        page.loadData.getAllCustomers();

        page.loadData.getAllCustomerDeActive();

        page.loadData.getAllProvinces().then(() => {

            let provinceId = page.dialogs.elements.provinceCre.val();


            page.loadData.getAllDistrictsByProvinceId(provinceId, page.dialogs.elements.districtCre).then(() => {

                let districtId = page.dialogs.elements.districtCre.val();
                page.loadData.getAllWardsByDistrictsId(districtId, page.dialogs.elements.wardCre);
            })
        })
    }

    page.initializeControlEvent = () => {
        page.dialogs.elements.divImagePreview.on('click', () => {
            page.dialogs.elements.imageFile.trigger('click');
        })

        page.dialogs.elements.divImagePreviewUp.on('click', () => {
            page.dialogs.elements.imageFileUp.trigger('click');
        })

        page.dialogs.elements.imageFile.on("change", function () {
            page.dialogs.commands.changeImagePreview(page.dialogs.elements.imageFile);
        });

        page.dialogs.elements.imageFileUp.on("change", function () {
            page.dialogs.commands.changeImagePreview(page.dialogs.elements.imageFileUp);
        });

        page.dialogs.elements.btnClearImagePreview.on('click', () => {
            page.dialogs.commands.clearImagePreview();
        })

        page.elements.btnShowCreateModal.on('click', () => {
            page.dialogs.elements.modalCreateCustomer.modal('show');
        })

        page.dialogs.elements.btnCreateCustomer.on('click', function () {
            page.dialogs.commands.doCreate();
        });

        page.dialogs.elements.btnUpdateCustomer.on('click', function () {
            page.dialogs.commands.doUpdate();
        });

        page.commands.handleChangeProvince(page.dialogs.elements.provinceCre, page.dialogs.elements.districtCre, page.dialogs.elements.wardCre);

        page.commands.handleChangeProvince(page.dialogs.elements.provinceUp, page.dialogs.elements.districtUp, page.dialogs.elements.wardUp);

        page.commands.handleChangeDistrict(page.dialogs.elements.districtCre, page.dialogs.elements.wardCre);

        page.commands.handleChangeDistrict(page.dialogs.elements.districtUp, page.dialogs.elements.wardUp);
    }

    $(() => {
        page.commands.closeLoading();
        page.commands.loadData();
        page.initializeControlEvent();
    })
</script>


</body>
</html>